#Data Wrangling Air Quality Datasets with Python by Dr Alvin Ang

https://www.alvinang.sg/s/Air-Quality-No-2.csv

https://www.alvinang.sg/s/Air-Quality-PM-25.csv



---

#A. Concatenate

##A1) Importing Air Quality No 2.csv

In [2]:
import pandas as pd

AQ2 = pd.read_csv("https://www.alvinang.sg/s/Air-Quality-No-2.csv")

In [3]:
AQ25 = pd.read_csv("https://www.alvinang.sg/s/Air-Quality-PM-25.csv")



---

##A2) Concatenating AQ2 and AQ25 Together

In [4]:
#Slice out Date / Location / Parameter / Value

AQ2 = AQ2[["date.utc", "location", "parameter", "value"]]
AQ2.sample()

                       date.utc            location parameter  value
1179  2019-06-13 22:00:00+00:00  London Westminster       no2   15.0

In [5]:
#Slice out Date / Location / Parameter / Value

AQ25 = AQ25[["date.utc", "location", "parameter", "value"]]
AQ25.sample()

                      date.utc            location parameter  value
865  2019-05-17 15:00:00+00:00  London Westminster      pm25   10.0

In [6]:
AQ = pd.concat([AQ25, AQ2], axis = 0)

In [7]:
AQ

                       date.utc            location parameter  value
0     2019-06-18 06:00:00+00:00             BETR801      pm25   18.0
1     2019-06-17 08:00:00+00:00             BETR801      pm25    6.5
2     2019-06-17 07:00:00+00:00             BETR801      pm25   18.5
3     2019-06-17 06:00:00+00:00             BETR801      pm25   16.0
4     2019-06-17 05:00:00+00:00             BETR801      pm25    7.5
...                         ...                 ...       ...    ...
2063  2019-05-07 06:00:00+00:00  London Westminster       no2   26.0
2064  2019-05-07 04:00:00+00:00  London Westminster       no2   16.0
2065  2019-05-07 03:00:00+00:00  London Westminster       no2   19.0
2066  2019-05-07 02:00:00+00:00  London Westminster       no2   19.0
2067  2019-05-07 01:00:00+00:00  London Westminster       no2   23.0

[3178 rows x 4 columns]



---

##A3) Looking at the Shape of the Concatted Table

In [8]:
print("Shape of AQ2: ", AQ2.shape)
print("Shape of AQ25: ", AQ25.shape)
print("Shape of AQ: ", AQ.shape)

#2068 rows + 1110 rows = 3178 rows
#note: 4 columns stick to 4 columns even after concatenating 

#in short, this means that Concatenating = Union both tables 
#(top down) paste --> AQ25 paste on top of AQ2

Shape of AQ2:  (2068, 4)
Shape of AQ25:  (1110, 4)
Shape of AQ:  (3178, 4)



---

#B. Inner Join

##B1) Merge based on Location

In [9]:
#AQ2 --> Air Quality No. 2.csv
#AQ25 --> Air Quality PM 25.csv

AQ_Merge_1 = pd.merge(AQ25, AQ2, on='location')
AQ_Merge_1.head()

,date.utc_x,location,parameter_x,value_x,date.utc_y,parameter_y,value_y
0,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,2019-06-17 08:00:00+00:00,no2,41.0
1,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,2019-06-17 07:00:00+00:00,no2,45.0
2,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,2019-06-17 06:00:00+00:00,no2,43.5
3,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,2019-06-17 05:00:00+00:00,no2,42.5
4,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,2019-06-17 04:00:00+00:00,no2,39.5



---

##B2) Merge based on Date

In [10]:
AQ_Merge_2 = pd.merge(AQ25, AQ2, on='date.utc')
AQ_Merge_2.head()

,date.utc,location_x,parameter_x,value_x,location_y,parameter_y,value_y
0,2019-06-18 06:00:00+00:00,BETR801,pm25,18.0,FR04014,no2,51.4
1,2019-06-18 06:00:00+00:00,London Westminster,pm25,7.0,FR04014,no2,51.4
2,2019-06-17 08:00:00+00:00,BETR801,pm25,6.5,FR04014,no2,51.6
3,2019-06-17 08:00:00+00:00,BETR801,pm25,6.5,BETR801,no2,41.0
4,2019-06-17 08:00:00+00:00,BETR801,pm25,6.5,London Westminster,no2,13.0



---

#C. Date-Time Formatting

##C1) Renaming the Column 'Date.utc' to "DateTime"

In [12]:
import pandas as pd

AQ2 = pd.read_csv("https://www.alvinang.sg/s/Air-Quality-No-2.csv")

In [13]:
AQ2 = AQ2.rename(columns = {"date.utc":"datetime"})

In [14]:
AQ2.head()

    city country                   datetime location parameter  value   unit
0  Paris      FR  2019-06-21 00:00:00+00:00  FR04014       no2   20.0  µg/m³
1  Paris      FR  2019-06-20 23:00:00+00:00  FR04014       no2   21.8  µg/m³
2  Paris      FR  2019-06-20 22:00:00+00:00  FR04014       no2   26.5  µg/m³
3  Paris      FR  2019-06-20 21:00:00+00:00  FR04014       no2   24.9  µg/m³
4  Paris      FR  2019-06-20 20:00:00+00:00  FR04014       no2   21.4  µg/m³



---

##C2) Checking the 'DateTime' Column DType

In [15]:
AQ2["datetime"]

0       2019-06-21 00:00:00+00:00
1       2019-06-20 23:00:00+00:00
2       2019-06-20 22:00:00+00:00
3       2019-06-20 21:00:00+00:00
4       2019-06-20 20:00:00+00:00
                  ...
2063    2019-05-07 06:00:00+00:00
2064    2019-05-07 04:00:00+00:00
2065    2019-05-07 03:00:00+00:00
2066    2019-05-07 02:00:00+00:00
2067    2019-05-07 01:00:00+00:00
Name: datetime, Length: 2068, dtype: object



---

##C3) Converting String to DateTime format

In [17]:
AQ2["datetime"] = pd.to_datetime(AQ2["datetime"])
AQ2["datetime"]

0      2019-06-21 00:00:00+00:00
1      2019-06-20 23:00:00+00:00
2      2019-06-20 22:00:00+00:00
3      2019-06-20 21:00:00+00:00
4      2019-06-20 20:00:00+00:00
                  ...
2063   2019-05-07 06:00:00+00:00
2064   2019-05-07 04:00:00+00:00
2065   2019-05-07 03:00:00+00:00
2066   2019-05-07 02:00:00+00:00
2067   2019-05-07 01:00:00+00:00
Name: datetime, Length: 2068, dtype: datetime64[ns, UTC]



---

##C4) Finding the Earliest and Latest Dates

In [23]:
AQ2["datetime"].min(),\
AQ2["datetime"].max()

#earliest date = 7/5/2019
#latest date = 21/6/2019

(Timestamp('2019-05-07 01:00:00+0000', tz='UTC'),
 Timestamp('2019-06-21 00:00:00+0000', tz='UTC'))



---

##C5) Range of Dates

In [24]:
AQ2["datetime"].max() - AQ2["datetime"].min()

#Date Range = 44 days

Timedelta('44 days 23:00:00')



---

##C6) Creating a New Month Column

In [25]:
AQ2["month"] = AQ2["datetime"].dt.month

In [26]:
AQ2

#a new month column has been created!

,city,country,datetime,location,parameter,value,unit,month
0,Paris,FR,2019-06-21 00:00:00+00:00,FR04014,no2,20.0,µg/m³,6
1,Paris,FR,2019-06-20 23:00:00+00:00,FR04014,no2,21.8,µg/m³,6
2,Paris,FR,2019-06-20 22:00:00+00:00,FR04014,no2,26.5,µg/m³,6
3,Paris,FR,2019-06-20 21:00:00+00:00,FR04014,no2,24.9,µg/m³,6
4,Paris,FR,2019-06-20 20:00:00+00:00,FR04014,no2,21.4,µg/m³,6
...,...,...,...,...,...,...,...,...
2063,London,GB,2019-05-07 06:00:00+00:00,London Westminster,no2,26.0,µg/m³,5
2064,London,GB,2019-05-07 04:00:00+00:00,London Westminster,no2,16.0,µg/m³,5
2065,London,GB,2019-05-07 03:00:00+00:00,London Westminster,no2,19.0,µg/m³,5
2066,London,GB,2019-05-07 02:00:00+00:00,London Westminster,no2,19.0,µg/m³,5
2067,London,GB,2019-05-07 01:00:00+00:00,London Westminster,no2,23.0,µg/m³,5

---

##C7) Average Weekday Air Quality (Groupby Location)

In [27]:
AQ2.groupby([AQ2["datetime"].dt.weekday, "location"])["value"].mean()

datetime  location
0         BETR801               27.875000
          FR04014               24.856250
          London Westminster    23.969697
1         BETR801               22.214286
          FR04014               30.999359
          London Westminster    24.885714
2         BETR801               21.125000
          FR04014               29.165753
          London Westminster    23.460432
3         BETR801               27.500000
          FR04014               28.600690
          London Westminster    24.780142
4         BETR801               28.400000
          FR04014               31.617986
          London Westminster    26.446809
5         BETR801               33.500000
          FR04014               25.266154
          London Westminster    24.977612
6         BETR801               21.896552
          FR04014               23.274306
          London Westminster    24.859155
Name: value, dtype: float64



---
#THE END

---